<!doctype html>
<div class="row">
  <div class="large-8 lagre-offset-2 columbs">
    <div class="expanded button-group">
      <a href="/" class="button">Компьютеры</a>
      <a href="/" class="button">Мониторы</a>
      <a href="/" class="button">Манипуляторы</a>
    </div>
    <div class="expanded button-group">
      <a href="/" class="button">Веб-камеры</a>
      <a href="/" class="button">Принтеры, сканеры</a>
      <a href="/" class="button">Модемы</a>
    </div>
  </div>
</div>