<!doctype html>
<div class="row">
  <div class="large-8 lagre-offset-2 columbs">
    <div class="expanded button-group">
      <a class="button" href="#"><img alt="" src="">Процессоры</a>
      <a class="button" href="#"><img alt="" src="">Материнские платы</a>
      <a class="button" href="#"><img alt="" src="">Видеокарты</a>
    </div>
    <div class="expanded button-group">
      <a class="button" href="#"><img alt="" src="">Оперативная память</a>
      <a class="button" href="#"><img alt="" src="">Блок питания</a>
      <a class="button" href="#"><img alt="" src="">Охлождение компьютера</a>
    </div>
    <div class="expanded button-group">
      <a class="button" href="#"><img alt="" src="">Накопители</a>
      <a class="button" href="#"><img alt="" src="">Корпуса</a>
      <a class="button" href="#"><img alt="" src="">Приводы и считыватели</a>
    </div>
  </div>
</div>