<!doctype html>
<div class="row">
  <div class="large-8 lagre-offset-2 columbs">
      <a href="/" class="button">Рассчитать и выбрать самый дешевый вариант компьютера заданной конфигурации</a>
      <a href="/" class="button">Рассчитать и выбрать самый дешевый вариант компьютера заданной конфигурации с учетом производителя комплектующих</a>
      <a href="/" class="button">Рассчитать и выбрать самый дешевый вариант компьютера заданной конфигурации заданной конфигурации с четом дополнительных устройств</a>
      <a href="/" class="button">Режим еврея:D</a>
  </div>
</div>