<!doctype html>
<html class="no-js" lang="ru" dir="ltr">
  <head>
    <% if @title  %>
    <title><%= @title + " | #{SITE_NAME}" %></title>
  <% else %>
    <title><%="#{SITE_NAME}" %></title>
  <% end %>
  <% if @summary %>
    <meta name="description" content="<%= @summary || @post.summary %>"
  <% end %>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
         <li><a href="/">Главная страница</a></li>
         <li><a href="/catalog">Компьютеры и переферия</a></li>
         <li><a href="/catalog_components">Комлектующие</a></li>
         <li><a href="/choice">Подбор компютера</a></li>
         <li><a href="/basket">Корзина</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="vertical menu accordion-menu" data-accordion-menu>
          <li>
            <a href="/login"></a>
            <ul class="menu vertical nested">
              <li><a href="/login">Вход</a></li>
              <li><a href="/registration">Регистрация</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
      <%= yield %>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
